body {
    font-family: monaco, "Times New Roman", monospace;
}

header {
    height: 300px;
    background-color: #0000ff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.portrait {
}
