body {
    font-family: monaco, "Times New Roman", monospace;
    font-size: large;
    max-width: 100%;
}

#pic {
    margin-left: center;
    margin-right: center;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 30px;
}

.grid ul {
    list-style: none;
    color: white;
    position: fixed;
    background-color: #0A210F;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 30px;
    justify-content: center;
    justify-items: center;

}

#name {
    font-size: 40px;
}

header {
    height: 750px;
    background-color: #14591D;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px;
    width: 100%;
    padding-top: 30px;
}

article {
    background-color: #E1E289;
    margin: 0px;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.list {
        display: inline-block;
        text-align: left;
}

.heading {
    text-align: center;
    margin: 30px;
}

footer {
    background-color: #99AA38;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact {
    margin-bottom: 0px;
    padding: 0px;
    height: 150px;
    width: 150px;
    position: relative;
    right: 0px; 
}

.form {
    margin-bottom: 0px;
    padding: 0px;
    height: 150px;
    width: 400px;
    position: relative;
    right: 0px;
    display: flex; 
    flex-wrap: wrap;
    align-items: left;
}

.flex2 {
    display: flex;
}

/* Navigation Attempts

.navigation {
    background-color: #0A210F;
    overflow: hidden;
}

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


    .nav {
        color: white !important;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 0;
    width: 100%;
    z-index: 1;
    padding: 3px;
    }

    */